{% extends 'index.html' %}
{% block profile %}
{% if faculty  %} {% url 'profile' faculty.faculty_id %}
{% else %} {% url 'profile' student.student_id %}
{% endif %}
{% endblock %}
{% block user %}
{% if faculty %} {{faculty.name}}
{% else %} {{student.name}}
{% endif %}
{% endblock user %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-white">
                    Membership Payment
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'membership_payment' selected_membership.pk %}" id="payment-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="membership">Membership Type:</label>
                            <input type="text" class="form-control" id="membership" value="{{ selected_membership.name }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="text" class="form-control" id="price" name="amount" value="{{ selected_membership.price }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="features">Features:</label>
                            <textarea class="form-control" id="features" name="description" readonly>{{ selected_membership.features }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="card-element">Card Details:</label>
                            <div id="card-element" class="form-control"></div>
                        </div>
                        <br>
                        <button id="pay-button" type="submit" class="btn btn-primary">Pay Now</button>
                    </form>
                    <div id="payment-success" class="alert alert-success mt-4" style="display: none;">
                        <strong>Payment successful!</strong><br>
                        <p>Congratulations {{ student.name }}!!! <br>Now you are a {{ selected_membership.name }} member</p>
                        <div class="col">
                            <a href="{% url 'access_courses' selected_membership.id %}" class="btn btn-outline-dark"><span class="px-2">Access</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('pk_test_51NTV2PL2VuWDvZdwEHpiXFWigyv751RPS1NV3AuQdb3MYxgBTZkmvNPj9Roa6y7PuO8xC5XY7Uh3L206ZmJvZibJ009Tlwwaij');
    var elements = stripe.elements();
    var style = {
        base: {
            color: '#32325d',
            fontFamily: 'Arial, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };
    var card = elements.create('card', { style: style });
    card.mount('#card-element');
    var form = document.getElementById('payment-form');
    var paymentSuccessMessage = document.getElementById('payment-success');

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        stripe.createPaymentMethod('card', card).then(function(result) {
            if (result.error) {
                console.log(result.error.message);
            } else {
                stripe.handleCardPayment('{{ client_secret }}', {
                    payment_method: result.paymentMethod.id
                }).then(function(paymentResult) {
                    if (paymentResult.error) {
                        console.log(paymentResult.error.message);
                    } else {
                        paymentSuccessMessage.style.display = 'block';
                        {#form.submit();#}
                    }
                });
            }
        });
    });

</script>
{% endblock %}
